#content {
  margin: 0 auto;
  width: 80%;
}

header {
  position: relative;
  text-align:left;
  margin-top: 60px;

  img.logo {
    display: block;
    float:left;
    margin-right: 15px;
    margin-top: 15px;
  }
}

footer {
  background-color: #ccc;
}

main {
  clear: both;
}

main,
header,
footer {
  padding: 5px 15px;
}

h3.sidebar-title {
  background-color: #0098E5;
}

nav.navbar.navbar-inverse {
  background-color: #F05928;
}

article h2 a {
  text-align: left;
}
