// @import "reset";
// @import "layout";
// @import "nav";
// @import "links";
// @import "text";
// @import "forms";

.navbar-bright {
  background-color: #F05928;
}

#masthead {
  background-color: #0098E5;
}

body {
  background-color: #BDA471;
}

#footer {
   background-color: #fff;
}
