body, p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

@font-face {
    font-family: "FuturaHvHeavy";
    src: url('../fonts/futura-heavy-webfont.woff') format("truetype");
}

h1 {
  font-family: 'FuturaHvHeavy';
  text-transform: uppercase;
}

header {
  a {
    h1 {
      color: #F05928;
      font-size: 56px;
    }
  }
}

#navbar {
  .nav {
    li {
      a {
        font-family: 'FuturaHvHeavy';
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    li.active {
      a {
        background-color: transparent;
      }
    }
  }
}
