<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <title>Gleaner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Gleaner project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/renda/bootstrap.css">
    <link rel="stylesheet" href="/static/css/renda/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/renda/style.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- endinject -->
  </head>
  <body>
    {% include 'shared/navigation.html' %}

    <div class="container">
    <header>
      <img class="logo" src="/static/images/foodbanksbc_logo_tiny.png" alt="">

      <a href="/">
        <h1>Backyard Bounty</h1>
      </a>

    </header>

    <section>
      <div class="row">
        <div class="col-md-8">
          <main>{% block content %}{% endblock %}</main>

        </div>
        <div class="col-md-4 sidebar-gutter">
          <aside>
          <!-- sidebar-widget -->
          <div class="sidebar-widget">
            <h3 class="sidebar-title">Support Us</h3>
            <div class="widget-container widget-about">
              <p>
                Backyard Bounty is a 501(c)3 non-profit that operates as part of the Santa Barbara County Food
                Bank. We harvest produce donated by farms and residents with extra produce in their backyard.
                Support us to help feed those in need.
              </p>
              <a class="btn btn-primary" href="https://donate.foodbanksbc.org/events/backyard-bounty-program/e54196">
                Donate
              </a>
              <a href="/account/crop/" class="btn btn-success">
                Register Your Crop
              </a>

            </div>
          </div>
          <!-- sidebar-widget -->
          <div class="sidebar-widget">
            <h3 class="sidebar-title">Connect</h3>
            <div class="widget-container">
              <div class="widget-socials">
                <a href="https://www.facebook.com/BackyardBounty/" target="_blank" title="Facebook">
                  <i class="fa fa-2x fa-facebook-official"></i>
                </a>
                <a href="https://twitter.com/backyardbounty" target="_blank" title="Twitter">
                  <i class="fa fa-2x fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/backyardbountysbc/?hl=en" target="_blank" title="Instagram">
                  <i class="fa fa-2x fa-instagram"></i>
                </a>
                <a href="http://foodbanksbc.us9.list-manage1.com/subscribe?u=185cf9817698360fccb6904e7&id=bc51d4d25e" target="_blank" title="Newsletter">
                  <i class="fa fa-2x fa-newspaper-o"></i>
                </a>
              </div>
            </div>
          </div>


          </div>
          </aside>
        </div>
      </div>
    </section>
    </div><!-- /.container -->

    </div>
    <!-- bower:js -->
    <script src="/static/lib/jquery/dist/jquery.js"></script>
    <script src="/static/lib/underscore/underscore.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/static/js/index.js"></script>
    <script src="/static/js/renda/bootstrap.js"></script>
    <script src="/static/js/renda/bootstrap.min.js"></script>
    <!-- endinject -->
  </body>
</html>
