<footer class="footer">

  <div class="footer-socials">
    <a href="https://www.facebook.com/BackyardBounty/" target="_blank" title="Facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/backyardbounty" target="_blank" title="Twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/backyardbountysbc/?hl=en" target="_blank" title="Instagram">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="http://foodbanksbc.us9.list-manage1.com/subscribe?u=185cf9817698360fccb6904e7&id=bc51d4d25e" target="_blank" title="Newsletter">
      <i class="fa fa-newspaper-o"></i>
    </a>
  </div>

  <div class="footer-bottom">
    Copyright <i class="fa fa-copyright"></i> 2016. All rights reserved.
    <br>
    ( Theme made by <a href="http://www.moozthemes.com" target="_blank">MOOZ Themes</a> - thanks with <i class="fa fa-heart"></i>)
  </div>
</footer>
